
* {
    box-sizing: border-box;
}

:root {
    min-height: 100vh;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    background-color: #FAFDFF;
}

body {
    margin: 0;
    
    color: #181717;
}